package foo.bar
import _root_.higherkindness.mu.rpc.protocol._
final case class Primitives(byte: _root_.scala.Array[Byte], bool: _root_.scala.Boolean, i: _root_.scala.Int, l: _root_.scala.Long, f: _root_.scala.Float, d: _root_.scala.Double, s: _root_.java.lang.String)
